<div ng-controller="MainCtrl">
  <div class="col-lg-12">
    <div ng-repeat="campaign in campaigns track by campaign.name">
      <div class="panel panel-default">
          <div class="panel-heading">{{campaign.name}}</div>
          <div class="panel-body">
            <div class="row">
              <div ng-repeat="image in campaign.images track by $index" class="col-lg-3">
                <a ng-click="select_image(image)" class="btn"><img ng-src="{{image}}" class="img-thumbnail" alt="Cinque Terre"><span ng-if="selected_image == image" class="glyphicon glyphicon-ok"></span></a>
                
              </div>
            </div>
            <div class="row">
              <div ng-repeat="audio in campaign.audios track by $index">
                <a class="btn audio-thumbnail" ng-click="select_audio(audio)" ng-click="selectaudio(audio)">
                  <div class="col-12">
                    <span class="glyphicon glyphicon-volume-up gi-4x"></span>
                  </div>
                  <div class="col-12">{{audio}} <span ng-if="selected_audio == audio" class="glyphicon glyphicon-ok"></span></div>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="right-tool-bar">
    <div class="panel panel-default">
      <div class="panel-heading">Tools</div>
      <div class="panel-body">
        <a class="btn btn-lg btn-warning" ng-click="clear_cast()">CLEAR</span></a>  
        <a class="btn btn-lg btn-success" ng-click="cast()">CAST <span class="glyphicon glyphicon-ok"></span></a>
        <div class="sample-casted">
          <div class="sample-casted-content">
            <img id="sample-casted-image" class="sample-casted-image" ng-src="{{image}}">
            <div id="sample-casted-message" class="sample-casted-message">{{message}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      
    </div>
    <div class="col-lg-6">
    </div>
  </div>
  <!--  -->
</div>


