<div ng-controller="MainCtrl">
  <div class="col-lg-8">
    <div ng-repeat="campaign in campaigns track by campaign.name">
      <div class="panel panel-default">
          <div class="panel-heading">{{campaign.name}}</div>
          <div class="panel-body">
            <div ng-repeat="image in campaign.images track by $index" class="col-lg-3">
              <a ng-click="select_image(image)" class="btn">
                <img ng-src="{{image}}" class="img-thumbnail"><span ng-if="selected_image == image" class="glyphicon glyphicon-ok"></span>
              </a>
            </div>
            <div ng-repeat="audio in campaign.audios track by $index" class="col-lg-3">
              <a class="btn" ng-click="select_audio(audio)" ng-click="selectaudio(audio)">
                <div>
                  <img ng-src="images/sound.png" class="img-thumbnail">
                  <span ng-if="selected_audio == audio" class="glyphicon glyphicon-ok"></span>
                </div>
                <div>{{get_filename(audio)}}</div>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-lg-4 right-tool-bar">
    <div class="panel panel-default">
      <div class="panel-heading">Tools</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-3">
            <a class="btn btn-lg btn-warning" ng-click="clear_cast()">CLEAR</span></a>  
          </div>
          <div class="col-lg-3">
            <a class="btn btn-lg btn-success" ng-click="cast()">CAST <span class="glyphicon glyphicon-ok"></span></a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 sample-casted">
            <div class="sample-casted-content" ng-class="background">
              <img ng-if="selected_image != ''" class="sample-casted-image" ng-src="{{selected_image}}">
              <div class="sample-casted-message">{{message}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10">
              <input style="margin-top: 5px; width: 100%;" ng-model="selected_image" type="text" placeholder="Image URL" class="ng-pristine ng-valid md-input ng-empty ng-touched" aria-invalid="false">
          </div>
          <div class="col-1">
            <span class="square black" ng-click="background = 'black'"></span>
          </div>
          <div class="col-1">
            <span class="square white" ng-click="background = 'white'"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <input style="margin-top: 5px; width: 100%;" ng-model="selected_audio" type="text" placeholder="Audio URL" class="ng-pristine ng-valid md-input ng-empty ng-touched" aria-invalid="false">
          </div>
          <div class="col-lg-1">
            <span ng-if="selected_audio == ''" class="glyphicon glyphicon-volume-off gi-3x"></span>
            <span ng-if="selected_audio != ''" class="glyphicon glyphicon-volume-up gi-3x"></span>
          </div>        
          <div class="col-lg-3">
            <md-slider-container>
              <md-slider flex="" min="0" max="0.30" step="0.02" ng-model="selected_volume"></md-slider>
            </md-slider-container>
            <div>{{selected_volume}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


